<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket demo</title>
        <link rel="stylesheet" type="text/css" href="../css/skeleton.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="../css/normalize.css" media="screen"/>
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="two columns"></div>
            <div class="eight columns">
                <div>
                    <input type="text" id="message_input">
                    <button id="send_button">send</button>
                    <span>&nbsp;</span><span id="user_count">0</span><span> online</span>
                </div>
                <div>
                   <ul id="thread"></ul>
                </div>
            </div>
            <div class="two columns"></div>
        </div>
    </div>

        <script>
            // Define variables
            var messageInput = document.querySelector('#message_input'),
                sendButton = document.querySelector('#send_button'),
                thread = document.querySelector('#thread'),
                users = document.querySelector('#user_count'),
                websocket = new WebSocket("ws://127.0.0.1:6789/");

            function addMessageToThread(message, color=null) {
                var li = document.createElement("li");
                li.appendChild(document.createTextNode(message));
                if (color !== null) {
                    li.style.color = color;
                }
                thread.appendChild(li);
            }

            // On minus click, send 'minus' signal to the server
            sendButton.onclick = function (event) {
                websocket.send(JSON.stringify({message: messageInput.value}));
                messageInput.value = "";
            };


            // On websocket message,
            websocket.onmessage = function (event) {
                data = JSON.parse(event.data);
                switch (data.type) {
                    case 'history':
                        if (data.thread_history !== null) {
                            for (var i = 0; i < data.thread_history.length; i ++) {
                                addMessageToThread(data.thread_history[i], "grey")
                            }
                        }
                        break;
                    case 'thread':
                        addMessageToThread(data.last_message.toString());
                        break;
                    case 'users':
                        users.textContent = (data.count.toString());
                        addMessageToThread(data.count_change_message.toString(), "blue");
                        break;
                    default:
                        console.error("unsupported event", data);
                }
            };
        </script>
    </body>
</html>